canvas {outline:none;width:940px;height:600px;}
button { width:120px; }
div.textBox
{
    background-color: #000000;
    opacity:0.6;
}
div.labelBox
{
    background-color: #A9DEB9;
    opacity:1.0;
}
div.fuelBox
{
    background-color: #000000;
    opacity:0.6;
}
div.visible { display:block; }
div.hidden { display:none; }
div.labelBox p
{
    color:#000000;
    margin: 10px 10px 10px 10px;
}
div.textBox p
{
    color:#ffffff;
    margin: 10px 10px;
}
div.fuelBox p
{
    color:#ffffff;
    margin: 10px 10px 10px 10px;
}
p.center
{
    text-align:center;
    font-weight:bold;
    font-size:28px;
}
div.fuelGauge
{
    position:fixed;
    left:756px;
    top:459px;
    width:192px;
    height:192px;
    opacity:1.0;
}
div.fuelNeedle
{
    position:fixed;
    left:908px;
    top:433px;
    width:48px;
    height:400px;
}