canvas {outline:none;width:940px;height:600px;}
button { width:120px; }
div.textBox
{
    background-color: #000000;
    color:#ffffff;
    opacity:0.6;
}
div.fractionBox
{
    background-color: #000000;
    color:#ffffff;
    opacity:0.6;
}
div.fuelBox
{
    background-color: #000000;
    opacity:0.6;
    border-radius: 3px;
}
div.visible { display:block; }
div.hidden { display:none; }
div.labelBox p
{
    color:#000000;
    margin: 10px 10px 10px 10px;
}
div.textBox p
{
    color:#ffffff;
    margin: 10px 10px;
}
div.fuelBox p
{
    color:#ffffff;
    margin: 10px 10px 10px 10px;
}
p.center
{
    text-align:center;
    font-weight:bold;
    font-size:28px;
}
div.addBox
{
    position:absolute;
    left:110px;
    top:344px;
    width:720px;
    height:78px;
    border-radius: 3px;
}
/*
    Top bar, and all elements contained by it.
*/
#topBar
{
   /* position: absolute;*/
    width: 940px;
    height: 44px;
    background-color: #A9DEB9;
}
#cashImg
{
    position: absolute;
    left: 0px;
    width: 40px;
    height: 44px;
}
#cashText
{
    position: absolute;
    left: 40px;
    width: 150px;
    height: 44px;
}
#parcelImg
{
    position: absolute;
    left: 190px;
    width: 40px;
    height: 44px;
}
#parcelText
{
    position: absolute;
    left: 230px;
    width: 80px;
    height: 44px;
}
/*
    Elements related to the fuel gauge.
*/
#fuelWrap
{
    position: absolute;
    right:0px;
    bottom:0px;
    height: 192px;
    width: 300px;
}
#fuelGauge
{
    position:absolute;
    right:0px;
    bottom:0px;
    width:192px;
    height:192px;
    opacity:1.0;
}
#fuelNeedle
{
    position:absolute;
    bottom:-183px;
    right:-8px;
    width:48px;
    height:400px;
}
#fuelText
{
    position: absolute;
    left: 0px;
    bottom:0px;
    width: 80px;
    height: 110px;
}
